/* Style */

body {
	background-color: #1E1F24;
}

a { 
	text-decoration: none;
}

#hero-section {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
	transform: translate(-50%, -50%);
    width: 363px;
    height: 200px;
    display: block;
	float: left;
}

.blur {
	-webkit-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	-moz-filter: blur(10px);
	filter: blur(10px); 
}

.blur-animation {
	animation: blur 1.2s ease-in-out;
	-webkit-animation: blur 1.2s ease-in-out;
	-o-animation: blur 1.2s ease-in-out;
	-moz-animation: blur 1.2s ease-in-out;
}

@-webkit-keyframes blur {
	0%{ 
	-webkit-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	-moz-filter: blur(10px);
	filter: blur(10px); 
	}
  100% { 
	-webkit-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
	-moz-filter: blur(0px);
	filter: blur(0px); 
	}
}

@keyframes blur {
  0%{ 
	-webkit-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	-moz-filter: blur(10px);
	filter: blur(10px); 
	}
  100% { 
	-webkit-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
	-moz-filter: blur(0px);
	filter: blur(0px); 
	}
}

#hero-section_name {
	text-align: left;
    height: 160px;
    position: relative;
	transform: translate(6%, 0);
}

#hero-section_name name-title {
	font-family: LatoWebHairline;
	font-size: 3em;
	letter-spacing: 6.48px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
	color: rgba(180, 180, 180, 1);
	line-height: 1.2em;
}

#hero-section last-name-title {
	font-size: 1.8em;
	font-family: LatoWeb;
	letter-spacing: 22px; 
	color: rgba(250, 250, 250, 1);
}

#hero-section_subtitle {
    height: 270px;
    position: relative;
	text-align: left;
	width: 100%;
}

#hero-section_subtitle name-subtitle {
	font-family: LatoWebHairline;
	font-size: 1.325em;
	letter-spacing: 2px;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
	color: rgba(180, 180, 180, 1);
}

bullet {
	color: rgba(217, 217, 217, 0.6);
}

#footer {
	height: 28px;
	text-align: center;
	bottom: 80px;
	position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

.footer_links_svg {
	padding: 0 7px;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	fill: rgba(250, 250, 250, 1);
}

svg:hover .footer_links_svg_github {
	fill: #60B044;
}

svg:hover .footer_links_svg_twitter {
	fill: #00ACED;
}

svg:hover .footer_links_svg_tumblr {
	fill: rgb(54, 70, 93);
}

svg:hover .footer_links_svg_linkedin {
	fill: #0077B5;
}