body {
  font-family: 'LatoWeb', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fbfcfc; /*#f6f8fa;*/
  color: #24292e;
}

canvas {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	z-index: -1;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
	z-index: 1;
}

h1 {
	/* font-family: 'LatoWebThin'; */
  font-size: 3.1em;
	letter-spacing: 4px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eaecef;
  padding-bottom: 10px;
}

p {
  font-size: 16px;
  color: #586069;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
